/* @Autor Ranyeri Klennes */

:root{

    --cor1: #E4EBF5;
    --cor2: #c8d0e7;
    --cor3: #bec8e4;

    --cor-base-escura: #37323b;
    --cor-amarelo: #FAC152;
    --cor-rosa: #FF7970;
    --cor-verde: #00E05B;
    --cor-roxo: #A13AE0;
    --cor-azul: #006BFF;

}
