/* @Autor Ranyeri Klennes */

*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

body , html {
	font-family: 'Roboto Mono', monospace;
	background: var(--cor1);
	color: var(--cor-roxo);
	margin: 2%;
	text-transform: uppercase;
	line-height: 0;
}

/* BORDA DAS SEÇÕES */
.borda{
	align-items: center;
	border-radius: 10px;
	box-shadow: .5rem .5rem 1.4rem var(--cor3), -.5rem -.5rem 1.4rem white;
}

.col{
	padding: 0;
}

.titulo {
	font-family: calibri;
	color: var(--cor3);
	font-weight: bold;
	font-size: 2rem;
	/* margin-bottom: 5%; */
}

/* BOTÃO SALVAR NO PERFIL */
.perfil button{
	/* font-size: 15px; */
	color: var(--cor-base-escura);
	text-shadow: 1px 1px 1px var(--cor-verde);
	transition: 0.5s;
	background-color: #7250d7;
	margin-bottom: 25px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #11c66d;
	height: 30px;
}
.perfil button:hover{
	background-color: var(--cor-base-escura);
	color: var(--cor-roxa);
}

/* TODOS OS IMPUTS */
input{
	color: var(--cor-amarelo);
	background: var(--cor1);
	text-transform: capitalize;
	border-radius: 3px;
	padding: 5px;
	margin: 2px;
	border: none;
	box-shadow:
	.1rem .1rem 1.4rem var(--cor2),
	-.1rem -.1rem 1.4rem white;
}

/* fieldset, table{
	border-radius: 3px;
	box-shadow: 1px 1px 1px #7250d7;
	border: 1px solid #11c66d;
	margin-bottom: 20px;
	padding: 15px;
	padding-bottom: 20px;
	box-sizing: border-box;
} */
